body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif!important;
}
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
p{
  font-size: 14px;
  line-height: 1.6em;
  margin: 0;
}
a:hover { text-decoration: none; }
.nav__link { 
  text-decoration: none;
  background: #383E4C none repeat scroll 0 0;
  border: 1px solid #646d7c;
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: capitalize;
}
.nav__link:focus,
.nav__link:hover {
  background: #49505F;
}

.margin-tblr {
  margin: 20px 10px;
}
.padding-tblr {
  padding: 15px;
}

/* Start Main Menu */
header {
  /*background-image: url("../images/huskyteam.jpg");
  background-position: center center;
  background-repeat: no-repeat;s
  background-size: cover;*/
  padding: 235px 0;
  /*margin-bottom: 60px;*/
  /*background-attachment: fixed;*/
  /*background-size: 100% 100%;*/
}
ul#menu {
background: #40475A none repeat scroll 0 0;
padding: 6px;
position: fixed;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
width: 100%;
z-index: 999;
    }
.main-menu {
  margin-top: -234px;
}
.main-menu ul li {
  display: inline-block;
  padding: 10px;
}
.main-menu ul li a {
  background: #383E4C none repeat scroll 0 0;
  border: 1px solid #646d7c;
  color: #fff;
  font-size: 20px;
  padding: 5px 20px;
  text-decoration: none;
  text-transform: capitalize;
}
/*.main-menu ul li.active a,*/
.main-menu ul li a:focus,
.main-menu ul li a:hover {
  background: #49505F;
}
/* call to action header buttons */
.btn-custom {
  color: #fff;
  border: 1px solid #646d7c;
  border-radius: 0;
  box-shadow: 1px 1px #000;
}
.btn-custom:hover {
  color: #fff;
  border: 1px solid #646d7c;
  box-shadow: -1px -1px #fff;
}
.header-content  h1 {
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  text-shadow: 2px 2px #000;
}
.header-content h4 {
  color: #fff;
  font-size: 25px;
  text-shadow: 1px 1px #333;
}
.single-page-nav { text-align: center; }
/* End Header CSS */

/* Start Feature CSS */
.green-text { color: #178A27; }
.blue-text { color: #1686C1; }
.gray-text { color: #1686C1; }
.green-btn { background: #178A27; }
.green-btn:hover { background: #449D44; }
.blue-btn { background: #1686C1; }
.blue-btn:hover { background: #31B0D5; }
.red-btn { background: #852406; }
.red-btn:hover { background: #C9302C; }
.feature-content {
    background: #F2F2F2;
    padding-bottom: 40px;
}
.feature-content-title {
    padding: 0 20px;
    text-align: left;    
}
.feature-content-description {
    padding: 0 20px 35px;
    text-align: left;
    color: #333333;
    margin-top: 15px;
}
.feature-content-link {
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.feature-content-link:hover, .feature-content-link:link, .feature-content-link:visited  {
  color: white;
  text-decoration: none;
}

/* End Feature CSS */

/* Start Blog CSS */
#blog-area {
    margin: 60px 0px;
}
.blog-content {
  background: #F2F2F2;
  padding-bottom:25px;
  max-width: 555px;
  margin: 0 auto;
}
.blog-content h2 {
    color: #666666;
    text-transform: capitalize;
}
.blog-content p {
    padding: 27px;
    text-align: left;
    color: #333333;
}
.blog-content span {
  margin-left: 225px;
}
.blog-content span a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #666666;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
}
.blog-content span a:hover {
    background: #E6E6E6 none repeat scroll 0 0;
}
.blog-content > p#blofr {
    padding: 8px;
}
/* End Blog CSS */

/* Start Services CSS */
div#service-area-main {
    float: left;
    width: 100%;
  margin-top:-200px;
}
.our-service{
  margin:65px 0px 85px;
}
/*section#services-area {
  background-image: url("../images/bg-2.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}*/
.service  h1 {
  color: #fff;
  text-transform: capitalize;
  text-shadow: 2px 2px #aaa;
  margin-bottom: 20px;
}
.service > p {
    color: #fff;
    font-size: 18px;
}
/* End Services CSS */

/* Start Testimornial CSS */
#testimornial-area{
  margin: 60px 0;
}
h2 {
    color: #666666;
}
.testimonial-content {
  background-color: #f2f2f2;
  height: 500px;
  max-width: 260px;
  margin: 0 auto 30px;
}
.testimonial-content  p {
    padding: 10px 20px;
    text-align: left;
}
.content-link {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    color: #666;
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    margin-top: 15px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.content-link:hover,
.content-link:focus {
    background: #E6E6E6 none repeat scroll 0 0;
}

/* End Testimornial CSS */

/* Start Contact CSS */
/*section#contact-area {
  background-image: url("../images/bg-3.jpg");
  background-position: center center;
  background-size: cover;  
  background-attachment: fixed; 
}*/
.contact-content h1 {
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 30px;
  text-shadow: 2px 2px #333;
}
.contact-content p {
    background: rgba(242, 242, 242, 0.4) none repeat scroll 0 0;
    border-radius: 5px;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 20px 15px;
}
.contact-form-left { padding-left: 0; }
.contact-form-right { padding-right: 0; }
input {
    margin-bottom: 15px;    
}
.form-control {
  border: none;
  background: rgba(242, 242, 242, 0.4);
}
.form-group button {
  background: #262628 none repeat scroll 0 0;
  color: #fff;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  border-radius:10px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
/* End Contact CSS */

/* Start Footer CSS */
.footer-content  h1 {
    color: #666;
    font-size: 32px;
    font-style: italic;
    margin-bottom: 25px;
    margin-top: 35px;
}
.footer-content  p {
    color: #999;
    font-style: italic;
    margin-bottom: 30px;
}
.copy {
    color: #666;
    font-size: 12px;
    margin-bottom: 30px;
    margin-top: 10px;
}

/* Slick Nav CSS */
.slicknav_menu {
    display:none;
}
.slicknav_nav a {
    text-transform: capitalize;
}
.slicknav_menu {
  background: #40475a none repeat scroll 0 0;
}
/* Scrool To top */
/* Image style */
#scrollUp {
    background-image: url("../images/top.png");
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}
/* End Scroll To top */

.about-section {
    height: 100%;
    padding-top: 70px;
}

.services-section {
    height: 100%;
   /* padding-top: 150px;*/
}
.tm-box {
  background-color: #F2F2F2;
  max-width: 1140px;
  width: 100%;
}
.tm-box-description {
  padding: 30px;
}
.tm-box-p {
  margin-bottom: 10px;
}
.tm-box-p:last-child {
  margin-bottom: 0;
}
.contact-section {
    height: 100%;
    padding-top: 80px;
    padding-bottom: 60px;
}
.form-control {
  color: #000;
}
.contact-section .container {
  max-width: 750px;
}

/*https://css-tricks.com/snippets/css/style-placeholder-text/*/
.form-control::-webkit-input-placeholder {
   color: black;
}
.form-control:-moz-placeholder { /* Firefox 18- */
   color: black;  
}
.form-control::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}
.form-control:-ms-input-placeholder {  
   color: black;  
}

/*************navigation******************/

 .navbar-inverse {
    background-color: #383E4C;
    border-color: #383E4C;
}
.navbar-nav>li {
    display: inline-block;
    padding: 10px;
}
.navbar-inverse .navbar-nav>li>a {
    background: #383E4C none repeat scroll 0 0;
    border: 1px solid #646d7c;
    color: #fff ;
    font-size: 20px;
    padding: 15px 25px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}

.navbar-inverse .navbar-nav > li > a.current,
.navbar-inverse .navbar-nav > li > a:hover {
        background: #49505F;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/*************made with love :3s******************/
#madewithlove {
  font-size: 1.2rem;
}
#madewithlove-name {
  /* font-family: 'Roboto', sans-serif !important; */
}
#madewithlove-name, #madewithlove-heart {
  text-shadow: 0 0 0;
  color: #d34182;
}
#madewithlove-name:hover {
  text-decoration: none;
  color: #fff;
}
#madewithlove-heart:hover {
  text-shadow: 1px 1px 1px #fff, -1px -1px 1px #414143;
  color: #fff; 
}

/* Media Queries
----------------------*/

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .blog-content > p#blofr {
    padding: 18px;
  }
  .contact-content p {
    font-size: 15px;
  }
}

/*    Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .blog-content p {
    margin-bottom: 21px;
    padding: 27px;
  }
  .blog-content span { margin-left: 0; }
  .service > p { font-size: 18px; }
  .contact-content p {
    font-size: 18px;
    padding: 15px 0;
  }
  .navbar-nav > li {
    padding: 6px;
  }
  .navbar-inverse .navbar-nav > li > a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1024px) {
  header,
  section#services-area,
  section#contact-area {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 767px) {
  
  header {
    height: 75vh;
    padding: 0 15px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            -webkit-box-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  } 

  ul#menu { display:none; }

  .slicknav_menu {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 999;
    background:none;
  }
  .header-content h1 {
   font-size: 55px;
  }
  .feature-content {
    max-width: 360px;
    margin: 0 auto 30px;
  }
  .feature-content-title,
  .feature-content-description {
   text-align: center;
  }
  .blog-content { margin-bottom: 30px; }
  .blog-content p { text-align: center; }
  .blog-content span { margin-left: 0; }
  .testimornial-content p { text-align: center; }
  .footer-content h4 { font-size: 16px; }
  .navbar-nav>li { display: block; }
  .navbar-inverse {
    background: none;
    border: none; 
  }
  .navbar-inverse .navbar-toggle { background-color: #333; }
  .navbar-inverse .navbar-collapse, 
  .navbar-inverse .navbar-form {
    background-color: #49505F;
  }
  .navbar .navbar-nav {
    width: 100%;
    margin:0;
  }
  .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-nav>li {
    width: 100%;
    border-bottom: 1px solid #999;
    padding:0px;
  }
  .navbar-nav>li:last-child { border-bottom: none;  }
  .navbar-inverse .navbar-nav>li>a {
    background:none;
    border: none;
    width: 100%;
    padding: 10px 0px;
  }
  .navbar-inverse .navbar-nav>li>a:focus, 
  .navbar-inverse .navbar-nav>li>a:hover {
    background-color: #383E4C;
  }
  .navbar-inverse .navbar-nav>.active>a, 
  .navbar-inverse .navbar-nav>.active>a:focus, 
  .navbar-inverse .navbar-nav>.active>a:hover {
    background: #383E4C;
  }
  .navbar-inverse .navbar-nav > li > a { font-size: 16px; }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .single-page-nav {
    background-color: #383E4C;
    max-height: 0;
    -webkit-transition: max-height 0.8s;
            transition: max-height 0.8s;
    overflow: hidden;
  }
  /*http://css3.bradshawenterprises.com/animating_height/*/
  .single-page-nav.show {
    max-height: 250px;
    overflow: auto;
  }
  .contact-form-left {
    padding-right: 0;
  }
  .contact-form-right {
    padding-left: 0;
  }
}

/*    Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .header-content h1 {
    font-size: 70px;
  }
}

@media only screen and (max-width: 520px) {
  .col-xxs-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  header { height: 50vh; }
}


/* Snow */
.particle-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* z-index: 1; */
}
.particle-container .particle {
  position: absolute;
  border-radius: 50%;
}
@keyframes particle-animation-1 {
  100% {
    transform: translate3d(4vw, 42vh, 40px);
  }
}
.particle-container .particle:nth-child(1) {
  animation: particle-animation-1 60s infinite;
  opacity: 0.75;
  height: 3px;
  width: 3px;
  animation-delay: -0.2s;
  transform: translate3d(74vw, 68vh, 99px);
  background: #fff;
}
@keyframes particle-animation-2 {
  100% {
    transform: translate3d(54vw, 19vh, 9px);
  }
}
.particle-container .particle:nth-child(2) {
  animation: particle-animation-2 60s infinite;
  opacity: 0.11;
  height: 2px;
  width: 2px;
  animation-delay: -0.4s;
  transform: translate3d(90vw, 43vh, 40px);
  background: #fff;
}
@keyframes particle-animation-3 {
  100% {
    transform: translate3d(65vw, 80vh, 40px);
  }
}
.particle-container .particle:nth-child(3) {
  animation: particle-animation-3 60s infinite;
  opacity: 0.49;
  height: 5px;
  width: 5px;
  animation-delay: -0.6s;
  transform: translate3d(32vw, 80vh, 54px);
  background: #fff;
}
@keyframes particle-animation-4 {
  100% {
    transform: translate3d(71vw, 49vh, 68px);
  }
}
.particle-container .particle:nth-child(4) {
  animation: particle-animation-4 60s infinite;
  opacity: 0.12;
  height: 4px;
  width: 4px;
  animation-delay: -0.8s;
  transform: translate3d(87vw, 74vh, 25px);
  background: #fff;
}
@keyframes particle-animation-5 {
  100% {
    transform: translate3d(69vw, 54vh, 60px);
  }
}
.particle-container .particle:nth-child(5) {
  animation: particle-animation-5 60s infinite;
  opacity: 0.72;
  height: 5px;
  width: 5px;
  animation-delay: -1s;
  transform: translate3d(29vw, 7vh, 41px);
  background: #fff;
}
@keyframes particle-animation-6 {
  100% {
    transform: translate3d(65vw, 11vh, 52px);
  }
}
.particle-container .particle:nth-child(6) {
  animation: particle-animation-6 60s infinite;
  opacity: 0.97;
  height: 6px;
  width: 6px;
  animation-delay: -1.2s;
  transform: translate3d(80vw, 2vh, 22px);
  background: #fff;
}
@keyframes particle-animation-7 {
  100% {
    transform: translate3d(90vw, 17vh, 25px);
  }
}
.particle-container .particle:nth-child(7) {
  animation: particle-animation-7 60s infinite;
  opacity: 0.18;
  height: 2px;
  width: 2px;
  animation-delay: -1.4s;
  transform: translate3d(80vw, 34vh, 86px);
  background: #fff;
}
@keyframes particle-animation-8 {
  100% {
    transform: translate3d(49vw, 19vh, 61px);
  }
}
.particle-container .particle:nth-child(8) {
  animation: particle-animation-8 60s infinite;
  opacity: 0.66;
  height: 5px;
  width: 5px;
  animation-delay: -1.6s;
  transform: translate3d(51vw, 24vh, 51px);
  background: #fff;
}
@keyframes particle-animation-9 {
  100% {
    transform: translate3d(88vw, 76vh, 90px);
  }
}
.particle-container .particle:nth-child(9) {
  animation: particle-animation-9 60s infinite;
  opacity: 0.29;
  height: 5px;
  width: 5px;
  animation-delay: -1.8s;
  transform: translate3d(53vw, 47vh, 11px);
  background: #fff;
}
@keyframes particle-animation-10 {
  100% {
    transform: translate3d(80vw, 37vh, 71px);
  }
}
.particle-container .particle:nth-child(10) {
  animation: particle-animation-10 60s infinite;
  opacity: 0.01;
  height: 6px;
  width: 6px;
  animation-delay: -2s;
  transform: translate3d(20vw, 83vh, 38px);
  background: #fff;
}
@keyframes particle-animation-11 {
  100% {
    transform: translate3d(34vw, 24vh, 80px);
  }
}
.particle-container .particle:nth-child(11) {
  animation: particle-animation-11 60s infinite;
  opacity: 0.24;
  height: 4px;
  width: 4px;
  animation-delay: -2.2s;
  transform: translate3d(22vw, 11vh, 99px);
  background: #fff;
}
@keyframes particle-animation-12 {
  100% {
    transform: translate3d(59vw, 90vh, 99px);
  }
}
.particle-container .particle:nth-child(12) {
  animation: particle-animation-12 60s infinite;
  opacity: 0.22;
  height: 4px;
  width: 4px;
  animation-delay: -2.4s;
  transform: translate3d(53vw, 16vh, 4px);
  background: #fff;
}
@keyframes particle-animation-13 {
  100% {
    transform: translate3d(39vw, 47vh, 30px);
  }
}
.particle-container .particle:nth-child(13) {
  animation: particle-animation-13 60s infinite;
  opacity: 0.75;
  height: 3px;
  width: 3px;
  animation-delay: -2.6s;
  transform: translate3d(52vw, 17vh, 58px);
  background: #fff;
}
@keyframes particle-animation-14 {
  100% {
    transform: translate3d(84vw, 23vh, 43px);
  }
}
.particle-container .particle:nth-child(14) {
  animation: particle-animation-14 60s infinite;
  opacity: 0.42;
  height: 4px;
  width: 4px;
  animation-delay: -2.8s;
  transform: translate3d(8vw, 87vh, 47px);
  background: #fff;
}
@keyframes particle-animation-15 {
  100% {
    transform: translate3d(66vw, 78vh, 6px);
  }
}
.particle-container .particle:nth-child(15) {
  animation: particle-animation-15 60s infinite;
  opacity: 0.47;
  height: 4px;
  width: 4px;
  animation-delay: -3s;
  transform: translate3d(49vw, 8vh, 88px);
  background: #fff;
}
@keyframes particle-animation-16 {
  100% {
    transform: translate3d(75vw, 78vh, 22px);
  }
}
.particle-container .particle:nth-child(16) {
  animation: particle-animation-16 60s infinite;
  opacity: 0.75;
  height: 4px;
  width: 4px;
  animation-delay: -3.2s;
  transform: translate3d(66vw, 1vh, 4px);
  background: #fff;
}
@keyframes particle-animation-17 {
  100% {
    transform: translate3d(18vw, 46vh, 81px);
  }
}
.particle-container .particle:nth-child(17) {
  animation: particle-animation-17 60s infinite;
  opacity: 0.77;
  height: 5px;
  width: 5px;
  animation-delay: -3.4s;
  transform: translate3d(34vw, 79vh, 15px);
  background: #fff;
}
@keyframes particle-animation-18 {
  100% {
    transform: translate3d(48vw, 7vh, 19px);
  }
}
.particle-container .particle:nth-child(18) {
  animation: particle-animation-18 60s infinite;
  opacity: 0.58;
  height: 4px;
  width: 4px;
  animation-delay: -3.6s;
  transform: translate3d(13vw, 6vh, 27px);
  background: #fff;
}
@keyframes particle-animation-19 {
  100% {
    transform: translate3d(75vw, 9vh, 19px);
  }
}
.particle-container .particle:nth-child(19) {
  animation: particle-animation-19 60s infinite;
  opacity: 0.24;
  height: 6px;
  width: 6px;
  animation-delay: -3.8s;
  transform: translate3d(53vw, 17vh, 99px);
  background: #fff;
}
@keyframes particle-animation-20 {
  100% {
    transform: translate3d(25vw, 76vh, 93px);
  }
}
.particle-container .particle:nth-child(20) {
  animation: particle-animation-20 60s infinite;
  opacity: 0.25;
  height: 2px;
  width: 2px;
  animation-delay: -4s;
  transform: translate3d(70vw, 51vh, 27px);
  background: #fff;
}
@keyframes particle-animation-21 {
  100% {
    transform: translate3d(76vw, 31vh, 56px);
  }
}
.particle-container .particle:nth-child(21) {
  animation: particle-animation-21 60s infinite;
  opacity: 0.87;
  height: 6px;
  width: 6px;
  animation-delay: -4.2s;
  transform: translate3d(38vw, 13vh, 87px);
  background: #fff;
}
@keyframes particle-animation-22 {
  100% {
    transform: translate3d(86vw, 2vh, 13px);
  }
}
.particle-container .particle:nth-child(22) {
  animation: particle-animation-22 60s infinite;
  opacity: 0.52;
  height: 2px;
  width: 2px;
  animation-delay: -4.4s;
  transform: translate3d(65vw, 52vh, 65px);
  background: #fff;
}
@keyframes particle-animation-23 {
  100% {
    transform: translate3d(48vw, 36vh, 50px);
  }
}
.particle-container .particle:nth-child(23) {
  animation: particle-animation-23 60s infinite;
  opacity: 0.98;
  height: 3px;
  width: 3px;
  animation-delay: -4.6s;
  transform: translate3d(1vw, 58vh, 72px);
  background: #fff;
}
@keyframes particle-animation-24 {
  100% {
    transform: translate3d(82vw, 85vh, 42px);
  }
}
.particle-container .particle:nth-child(24) {
  animation: particle-animation-24 60s infinite;
  opacity: 0.79;
  height: 6px;
  width: 6px;
  animation-delay: -4.8s;
  transform: translate3d(82vw, 20vh, 85px);
  background: #fff;
}
@keyframes particle-animation-25 {
  100% {
    transform: translate3d(86vw, 62vh, 24px);
  }
}
.particle-container .particle:nth-child(25) {
  animation: particle-animation-25 60s infinite;
  opacity: 0.29;
  height: 6px;
  width: 6px;
  animation-delay: -5s;
  transform: translate3d(19vw, 42vh, 10px);
  background: #fff;
}
@keyframes particle-animation-26 {
  100% {
    transform: translate3d(55vw, 63vh, 24px);
  }
}
.particle-container .particle:nth-child(26) {
  animation: particle-animation-26 60s infinite;
  opacity: 0.8;
  height: 4px;
  width: 4px;
  animation-delay: -5.2s;
  transform: translate3d(64vw, 26vh, 35px);
  background: #fff;
}
@keyframes particle-animation-27 {
  100% {
    transform: translate3d(64vw, 32vh, 61px);
  }
}
.particle-container .particle:nth-child(27) {
  animation: particle-animation-27 60s infinite;
  opacity: 0.6;
  height: 4px;
  width: 4px;
  animation-delay: -5.4s;
  transform: translate3d(81vw, 55vh, 53px);
  background: #fff;
}
@keyframes particle-animation-28 {
  100% {
    transform: translate3d(6vw, 31vh, 10px);
  }
}
.particle-container .particle:nth-child(28) {
  animation: particle-animation-28 60s infinite;
  opacity: 0.79;
  height: 2px;
  width: 2px;
  animation-delay: -5.6s;
  transform: translate3d(6vw, 17vh, 44px);
  background: #fff;
}
@keyframes particle-animation-29 {
  100% {
    transform: translate3d(7vw, 26vh, 93px);
  }
}
.particle-container .particle:nth-child(29) {
  animation: particle-animation-29 60s infinite;
  opacity: 0.15;
  height: 6px;
  width: 6px;
  animation-delay: -5.8s;
  transform: translate3d(24vw, 42vh, 37px);
  background: #fff;
}
@keyframes particle-animation-30 {
  100% {
    transform: translate3d(54vw, 51vh, 34px);
  }
}
.particle-container .particle:nth-child(30) {
  animation: particle-animation-30 60s infinite;
  opacity: 0.29;
  height: 2px;
  width: 2px;
  animation-delay: -6s;
  transform: translate3d(41vw, 49vh, 84px);
  background: #fff;
}
@keyframes particle-animation-31 {
  100% {
    transform: translate3d(36vw, 32vh, 1px);
  }
}
.particle-container .particle:nth-child(31) {
  animation: particle-animation-31 60s infinite;
  opacity: 0.89;
  height: 6px;
  width: 6px;
  animation-delay: -6.2s;
  transform: translate3d(24vw, 32vh, 27px);
  background: #fff;
}
@keyframes particle-animation-32 {
  100% {
    transform: translate3d(73vw, 7vh, 35px);
  }
}
.particle-container .particle:nth-child(32) {
  animation: particle-animation-32 60s infinite;
  opacity: 0.22;
  height: 4px;
  width: 4px;
  animation-delay: -6.4s;
  transform: translate3d(16vw, 3vh, 52px);
  background: #fff;
}
@keyframes particle-animation-33 {
  100% {
    transform: translate3d(31vw, 25vh, 43px);
  }
}
.particle-container .particle:nth-child(33) {
  animation: particle-animation-33 60s infinite;
  opacity: 0.44;
  height: 3px;
  width: 3px;
  animation-delay: -6.6s;
  transform: translate3d(80vw, 38vh, 95px);
  background: #fff;
}
@keyframes particle-animation-34 {
  100% {
    transform: translate3d(6vw, 82vh, 46px);
  }
}
.particle-container .particle:nth-child(34) {
  animation: particle-animation-34 60s infinite;
  opacity: 0.76;
  height: 3px;
  width: 3px;
  animation-delay: -6.8s;
  transform: translate3d(41vw, 39vh, 87px);
  background: #fff;
}
@keyframes particle-animation-35 {
  100% {
    transform: translate3d(33vw, 79vh, 44px);
  }
}
.particle-container .particle:nth-child(35) {
  animation: particle-animation-35 60s infinite;
  opacity: 0.07;
  height: 3px;
  width: 3px;
  animation-delay: -7s;
  transform: translate3d(31vw, 82vh, 14px);
  background: #fff;
}
@keyframes particle-animation-36 {
  100% {
    transform: translate3d(63vw, 17vh, 14px);
  }
}
.particle-container .particle:nth-child(36) {
  animation: particle-animation-36 60s infinite;
  opacity: 0.85;
  height: 3px;
  width: 3px;
  animation-delay: -7.2s;
  transform: translate3d(81vw, 77vh, 74px);
  background: #fff;
}
@keyframes particle-animation-37 {
  100% {
    transform: translate3d(54vw, 25vh, 52px);
  }
}
.particle-container .particle:nth-child(37) {
  animation: particle-animation-37 60s infinite;
  opacity: 0.1;
  height: 2px;
  width: 2px;
  animation-delay: -7.4s;
  transform: translate3d(32vw, 67vh, 31px);
  background: #fff;
}
@keyframes particle-animation-38 {
  100% {
    transform: translate3d(60vw, 56vh, 6px);
  }
}
.particle-container .particle:nth-child(38) {
  animation: particle-animation-38 60s infinite;
  opacity: 0.62;
  height: 2px;
  width: 2px;
  animation-delay: -7.6s;
  transform: translate3d(18vw, 9vh, 86px);
  background: #fff;
}
@keyframes particle-animation-39 {
  100% {
    transform: translate3d(30vw, 22vh, 62px);
  }
}
.particle-container .particle:nth-child(39) {
  animation: particle-animation-39 60s infinite;
  opacity: 0.07;
  height: 2px;
  width: 2px;
  animation-delay: -7.8s;
  transform: translate3d(8vw, 37vh, 51px);
  background: #fff;
}
@keyframes particle-animation-40 {
  100% {
    transform: translate3d(65vw, 17vh, 53px);
  }
}
.particle-container .particle:nth-child(40) {
  animation: particle-animation-40 60s infinite;
  opacity: 0.93;
  height: 6px;
  width: 6px;
  animation-delay: -8s;
  transform: translate3d(45vw, 87vh, 16px);
  background: #fff;
}
@keyframes particle-animation-41 {
  100% {
    transform: translate3d(29vw, 46vh, 92px);
  }
}
.particle-container .particle:nth-child(41) {
  animation: particle-animation-41 60s infinite;
  opacity: 0.85;
  height: 6px;
  width: 6px;
  animation-delay: -8.2s;
  transform: translate3d(14vw, 25vh, 4px);
  background: #fff;
}
@keyframes particle-animation-42 {
  100% {
    transform: translate3d(84vw, 41vh, 27px);
  }
}
.particle-container .particle:nth-child(42) {
  animation: particle-animation-42 60s infinite;
  opacity: 0.52;
  height: 4px;
  width: 4px;
  animation-delay: -8.4s;
  transform: translate3d(13vw, 58vh, 31px);
  background: #fff;
}
@keyframes particle-animation-43 {
  100% {
    transform: translate3d(74vw, 82vh, 96px);
  }
}
.particle-container .particle:nth-child(43) {
  animation: particle-animation-43 60s infinite;
  opacity: 0.59;
  height: 3px;
  width: 3px;
  animation-delay: -8.6s;
  transform: translate3d(73vw, 21vh, 87px);
  background: #fff;
}
@keyframes particle-animation-44 {
  100% {
    transform: translate3d(59vw, 74vh, 19px);
  }
}
.particle-container .particle:nth-child(44) {
  animation: particle-animation-44 60s infinite;
  opacity: 0.99;
  height: 6px;
  width: 6px;
  animation-delay: -8.8s;
  transform: translate3d(33vw, 46vh, 68px);
  background: #fff;
}
@keyframes particle-animation-45 {
  100% {
    transform: translate3d(8vw, 11vh, 48px);
  }
}
.particle-container .particle:nth-child(45) {
  animation: particle-animation-45 60s infinite;
  opacity: 0.26;
  height: 6px;
  width: 6px;
  animation-delay: -9s;
  transform: translate3d(63vw, 5vh, 9px);
  background: #fff;
}
@keyframes particle-animation-46 {
  100% {
    transform: translate3d(22vw, 76vh, 65px);
  }
}
.particle-container .particle:nth-child(46) {
  animation: particle-animation-46 60s infinite;
  opacity: 0.96;
  height: 2px;
  width: 2px;
  animation-delay: -9.2s;
  transform: translate3d(33vw, 78vh, 90px);
  background: #fff;
}
@keyframes particle-animation-47 {
  100% {
    transform: translate3d(82vw, 69vh, 91px);
  }
}
.particle-container .particle:nth-child(47) {
  animation: particle-animation-47 60s infinite;
  opacity: 0.68;
  height: 2px;
  width: 2px;
  animation-delay: -9.4s;
  transform: translate3d(63vw, 53vh, 40px);
  background: #fff;
}
@keyframes particle-animation-48 {
  100% {
    transform: translate3d(39vw, 69vh, 73px);
  }
}
.particle-container .particle:nth-child(48) {
  animation: particle-animation-48 60s infinite;
  opacity: 0.37;
  height: 3px;
  width: 3px;
  animation-delay: -9.6s;
  transform: translate3d(76vw, 74vh, 83px);
  background: #fff;
}
@keyframes particle-animation-49 {
  100% {
    transform: translate3d(26vw, 46vh, 65px);
  }
}
.particle-container .particle:nth-child(49) {
  animation: particle-animation-49 60s infinite;
  opacity: 0.97;
  height: 6px;
  width: 6px;
  animation-delay: -9.8s;
  transform: translate3d(16vw, 68vh, 97px);
  background: #fff;
}
@keyframes particle-animation-50 {
  100% {
    transform: translate3d(78vw, 32vh, 82px);
  }
}
.particle-container .particle:nth-child(50) {
  animation: particle-animation-50 60s infinite;
  opacity: 0.05;
  height: 6px;
  width: 6px;
  animation-delay: -10s;
  transform: translate3d(43vw, 46vh, 12px);
  background: #fff;
}
@keyframes particle-animation-51 {
  100% {
    transform: translate3d(35vw, 47vh, 15px);
  }
}
.particle-container .particle:nth-child(51) {
  animation: particle-animation-51 60s infinite;
  opacity: 0.54;
  height: 2px;
  width: 2px;
  animation-delay: -10.2s;
  transform: translate3d(90vw, 44vh, 100px);
  background: #fff;
}
@keyframes particle-animation-52 {
  100% {
    transform: translate3d(17vw, 34vh, 50px);
  }
}
.particle-container .particle:nth-child(52) {
  animation: particle-animation-52 60s infinite;
  opacity: 0.05;
  height: 3px;
  width: 3px;
  animation-delay: -10.4s;
  transform: translate3d(81vw, 84vh, 18px);
  background: #fff;
}
@keyframes particle-animation-53 {
  100% {
    transform: translate3d(17vw, 88vh, 52px);
  }
}
.particle-container .particle:nth-child(53) {
  animation: particle-animation-53 60s infinite;
  opacity: 0.63;
  height: 5px;
  width: 5px;
  animation-delay: -10.6s;
  transform: translate3d(40vw, 9vh, 76px);
  background: #fff;
}
@keyframes particle-animation-54 {
  100% {
    transform: translate3d(52vw, 68vh, 44px);
  }
}
.particle-container .particle:nth-child(54) {
  animation: particle-animation-54 60s infinite;
  opacity: 0.14;
  height: 3px;
  width: 3px;
  animation-delay: -10.8s;
  transform: translate3d(47vw, 10vh, 21px);
  background: #fff;
}
@keyframes particle-animation-55 {
  100% {
    transform: translate3d(31vw, 87vh, 50px);
  }
}
.particle-container .particle:nth-child(55) {
  animation: particle-animation-55 60s infinite;
  opacity: 0.71;
  height: 5px;
  width: 5px;
  animation-delay: -11s;
  transform: translate3d(33vw, 86vh, 2px);
  background: #fff;
}
@keyframes particle-animation-56 {
  100% {
    transform: translate3d(50vw, 46vh, 3px);
  }
}
.particle-container .particle:nth-child(56) {
  animation: particle-animation-56 60s infinite;
  opacity: 0.12;
  height: 2px;
  width: 2px;
  animation-delay: -11.2s;
  transform: translate3d(77vw, 89vh, 26px);
  background: #fff;
}
@keyframes particle-animation-57 {
  100% {
    transform: translate3d(3vw, 42vh, 15px);
  }
}
.particle-container .particle:nth-child(57) {
  animation: particle-animation-57 60s infinite;
  opacity: 0.99;
  height: 6px;
  width: 6px;
  animation-delay: -11.4s;
  transform: translate3d(24vw, 22vh, 28px);
  background: #fff;
}
@keyframes particle-animation-58 {
  100% {
    transform: translate3d(85vw, 62vh, 77px);
  }
}
.particle-container .particle:nth-child(58) {
  animation: particle-animation-58 60s infinite;
  opacity: 0.46;
  height: 3px;
  width: 3px;
  animation-delay: -11.6s;
  transform: translate3d(28vw, 78vh, 33px);
  background: #fff;
}
@keyframes particle-animation-59 {
  100% {
    transform: translate3d(5vw, 49vh, 86px);
  }
}
.particle-container .particle:nth-child(59) {
  animation: particle-animation-59 60s infinite;
  opacity: 0.35;
  height: 5px;
  width: 5px;
  animation-delay: -11.8s;
  transform: translate3d(38vw, 54vh, 56px);
  background: #fff;
}
@keyframes particle-animation-60 {
  100% {
    transform: translate3d(9vw, 81vh, 78px);
  }
}
.particle-container .particle:nth-child(60) {
  animation: particle-animation-60 60s infinite;
  opacity: 0.59;
  height: 6px;
  width: 6px;
  animation-delay: -12s;
  transform: translate3d(49vw, 12vh, 22px);
  background: #fff;
}
@keyframes particle-animation-61 {
  100% {
    transform: translate3d(10vw, 46vh, 14px);
  }
}
.particle-container .particle:nth-child(61) {
  animation: particle-animation-61 60s infinite;
  opacity: 0.79;
  height: 2px;
  width: 2px;
  animation-delay: -12.2s;
  transform: translate3d(69vw, 15vh, 84px);
  background: #fff;
}
@keyframes particle-animation-62 {
  100% {
    transform: translate3d(83vw, 57vh, 39px);
  }
}
.particle-container .particle:nth-child(62) {
  animation: particle-animation-62 60s infinite;
  opacity: 0.94;
  height: 2px;
  width: 2px;
  animation-delay: -12.4s;
  transform: translate3d(43vw, 44vh, 33px);
  background: #fff;
}
@keyframes particle-animation-63 {
  100% {
    transform: translate3d(85vw, 73vh, 55px);
  }
}
.particle-container .particle:nth-child(63) {
  animation: particle-animation-63 60s infinite;
  opacity: 0.83;
  height: 6px;
  width: 6px;
  animation-delay: -12.6s;
  transform: translate3d(60vw, 53vh, 51px);
  background: #fff;
}
@keyframes particle-animation-64 {
  100% {
    transform: translate3d(4vw, 28vh, 11px);
  }
}
.particle-container .particle:nth-child(64) {
  animation: particle-animation-64 60s infinite;
  opacity: 0.03;
  height: 2px;
  width: 2px;
  animation-delay: -12.8s;
  transform: translate3d(59vw, 51vh, 11px);
  background: #fff;
}
@keyframes particle-animation-65 {
  100% {
    transform: translate3d(51vw, 66vh, 84px);
  }
}
.particle-container .particle:nth-child(65) {
  animation: particle-animation-65 60s infinite;
  opacity: 0.25;
  height: 6px;
  width: 6px;
  animation-delay: -13s;
  transform: translate3d(1vw, 18vh, 78px);
  background: #fff;
}
@keyframes particle-animation-66 {
  100% {
    transform: translate3d(38vw, 57vh, 68px);
  }
}
.particle-container .particle:nth-child(66) {
  animation: particle-animation-66 60s infinite;
  opacity: 0.66;
  height: 2px;
  width: 2px;
  animation-delay: -13.2s;
  transform: translate3d(72vw, 24vh, 68px);
  background: #fff;
}
@keyframes particle-animation-67 {
  100% {
    transform: translate3d(51vw, 11vh, 23px);
  }
}
.particle-container .particle:nth-child(67) {
  animation: particle-animation-67 60s infinite;
  opacity: 0.06;
  height: 4px;
  width: 4px;
  animation-delay: -13.4s;
  transform: translate3d(19vw, 11vh, 64px);
  background: #fff;
}
@keyframes particle-animation-68 {
  100% {
    transform: translate3d(22vw, 38vh, 60px);
  }
}
.particle-container .particle:nth-child(68) {
  animation: particle-animation-68 60s infinite;
  opacity: 0.43;
  height: 6px;
  width: 6px;
  animation-delay: -13.6s;
  transform: translate3d(83vw, 50vh, 29px);
  background: #fff;
}
@keyframes particle-animation-69 {
  100% {
    transform: translate3d(11vw, 66vh, 45px);
  }
}
.particle-container .particle:nth-child(69) {
  animation: particle-animation-69 60s infinite;
  opacity: 0.63;
  height: 3px;
  width: 3px;
  animation-delay: -13.8s;
  transform: translate3d(48vw, 7vh, 97px);
  background: #fff;
}
@keyframes particle-animation-70 {
  100% {
    transform: translate3d(49vw, 16vh, 49px);
  }
}
.particle-container .particle:nth-child(70) {
  animation: particle-animation-70 60s infinite;
  opacity: 0.77;
  height: 4px;
  width: 4px;
  animation-delay: -14s;
  transform: translate3d(37vw, 54vh, 79px);
  background: #fff;
}
@keyframes particle-animation-71 {
  100% {
    transform: translate3d(63vw, 1vh, 1px);
  }
}
.particle-container .particle:nth-child(71) {
  animation: particle-animation-71 60s infinite;
  opacity: 0.61;
  height: 6px;
  width: 6px;
  animation-delay: -14.2s;
  transform: translate3d(16vw, 32vh, 85px);
  background: #fff;
}
@keyframes particle-animation-72 {
  100% {
    transform: translate3d(37vw, 34vh, 66px);
  }
}
.particle-container .particle:nth-child(72) {
  animation: particle-animation-72 60s infinite;
  opacity: 0.48;
  height: 2px;
  width: 2px;
  animation-delay: -14.4s;
  transform: translate3d(33vw, 5vh, 93px);
  background: #fff;
}
@keyframes particle-animation-73 {
  100% {
    transform: translate3d(6vw, 62vh, 29px);
  }
}
.particle-container .particle:nth-child(73) {
  animation: particle-animation-73 60s infinite;
  opacity: 0.01;
  height: 6px;
  width: 6px;
  animation-delay: -14.6s;
  transform: translate3d(4vw, 59vh, 60px);
  background: #fff;
}
@keyframes particle-animation-74 {
  100% {
    transform: translate3d(1vw, 38vh, 40px);
  }
}
.particle-container .particle:nth-child(74) {
  animation: particle-animation-74 60s infinite;
  opacity: 0.45;
  height: 3px;
  width: 3px;
  animation-delay: -14.8s;
  transform: translate3d(36vw, 74vh, 1px);
  background: #fff;
}
@keyframes particle-animation-75 {
  100% {
    transform: translate3d(3vw, 46vh, 67px);
  }
}
.particle-container .particle:nth-child(75) {
  animation: particle-animation-75 60s infinite;
  opacity: 0.53;
  height: 5px;
  width: 5px;
  animation-delay: -15s;
  transform: translate3d(17vw, 22vh, 57px);
  background: #fff;
}
@keyframes particle-animation-76 {
  100% {
    transform: translate3d(22vw, 49vh, 34px);
  }
}
.particle-container .particle:nth-child(76) {
  animation: particle-animation-76 60s infinite;
  opacity: 0.15;
  height: 2px;
  width: 2px;
  animation-delay: -15.2s;
  transform: translate3d(24vw, 85vh, 86px);
  background: #fff;
}
@keyframes particle-animation-77 {
  100% {
    transform: translate3d(16vw, 38vh, 40px);
  }
}
.particle-container .particle:nth-child(77) {
  animation: particle-animation-77 60s infinite;
  opacity: 0.59;
  height: 4px;
  width: 4px;
  animation-delay: -15.4s;
  transform: translate3d(9vw, 58vh, 27px);
  background: #fff;
}
@keyframes particle-animation-78 {
  100% {
    transform: translate3d(33vw, 58vh, 44px);
  }
}
.particle-container .particle:nth-child(78) {
  animation: particle-animation-78 60s infinite;
  opacity: 0.9;
  height: 5px;
  width: 5px;
  animation-delay: -15.6s;
  transform: translate3d(51vw, 82vh, 45px);
  background: #fff;
}
@keyframes particle-animation-79 {
  100% {
    transform: translate3d(43vw, 80vh, 32px);
  }
}
.particle-container .particle:nth-child(79) {
  animation: particle-animation-79 60s infinite;
  opacity: 0.2;
  height: 2px;
  width: 2px;
  animation-delay: -15.8s;
  transform: translate3d(1vw, 24vh, 16px);
  background: #fff;
}
@keyframes particle-animation-80 {
  100% {
    transform: translate3d(6vw, 58vh, 7px);
  }
}
.particle-container .particle:nth-child(80) {
  animation: particle-animation-80 60s infinite;
  opacity: 0.32;
  height: 2px;
  width: 2px;
  animation-delay: -16s;
  transform: translate3d(79vw, 56vh, 25px);
  background: #fff;
}
@keyframes particle-animation-81 {
  100% {
    transform: translate3d(50vw, 64vh, 19px);
  }
}
.particle-container .particle:nth-child(81) {
  animation: particle-animation-81 60s infinite;
  opacity: 0.34;
  height: 3px;
  width: 3px;
  animation-delay: -16.2s;
  transform: translate3d(26vw, 71vh, 79px);
  background: #fff;
}
@keyframes particle-animation-82 {
  100% {
    transform: translate3d(40vw, 24vh, 19px);
  }
}
.particle-container .particle:nth-child(82) {
  animation: particle-animation-82 60s infinite;
  opacity: 0.43;
  height: 3px;
  width: 3px;
  animation-delay: -16.4s;
  transform: translate3d(18vw, 88vh, 58px);
  background: #fff;
}
@keyframes particle-animation-83 {
  100% {
    transform: translate3d(59vw, 32vh, 46px);
  }
}
.particle-container .particle:nth-child(83) {
  animation: particle-animation-83 60s infinite;
  opacity: 0.55;
  height: 6px;
  width: 6px;
  animation-delay: -16.6s;
  transform: translate3d(84vw, 28vh, 48px);
  background: #fff;
}
@keyframes particle-animation-84 {
  100% {
    transform: translate3d(34vw, 42vh, 57px);
  }
}
.particle-container .particle:nth-child(84) {
  animation: particle-animation-84 60s infinite;
  opacity: 0.57;
  height: 4px;
  width: 4px;
  animation-delay: -16.8s;
  transform: translate3d(37vw, 81vh, 4px);
  background: #fff;
}
@keyframes particle-animation-85 {
  100% {
    transform: translate3d(18vw, 81vh, 34px);
  }
}
.particle-container .particle:nth-child(85) {
  animation: particle-animation-85 60s infinite;
  opacity: 0.74;
  height: 4px;
  width: 4px;
  animation-delay: -17s;
  transform: translate3d(77vw, 75vh, 66px);
  background: #fff;
}
@keyframes particle-animation-86 {
  100% {
    transform: translate3d(75vw, 7vh, 70px);
  }
}
.particle-container .particle:nth-child(86) {
  animation: particle-animation-86 60s infinite;
  opacity: 0.37;
  height: 3px;
  width: 3px;
  animation-delay: -17.2s;
  transform: translate3d(38vw, 11vh, 85px);
  background: #fff;
}
@keyframes particle-animation-87 {
  100% {
    transform: translate3d(38vw, 73vh, 67px);
  }
}
.particle-container .particle:nth-child(87) {
  animation: particle-animation-87 60s infinite;
  opacity: 0.97;
  height: 4px;
  width: 4px;
  animation-delay: -17.4s;
  transform: translate3d(22vw, 14vh, 34px);
  background: #fff;
}
@keyframes particle-animation-88 {
  100% {
    transform: translate3d(87vw, 66vh, 11px);
  }
}
.particle-container .particle:nth-child(88) {
  animation: particle-animation-88 60s infinite;
  opacity: 0.39;
  height: 4px;
  width: 4px;
  animation-delay: -17.6s;
  transform: translate3d(31vw, 75vh, 6px);
  background: #fff;
}
@keyframes particle-animation-89 {
  100% {
    transform: translate3d(28vw, 50vh, 96px);
  }
}
.particle-container .particle:nth-child(89) {
  animation: particle-animation-89 60s infinite;
  opacity: 0.61;
  height: 3px;
  width: 3px;
  animation-delay: -17.8s;
  transform: translate3d(45vw, 68vh, 7px);
  background: #fff;
}
@keyframes particle-animation-90 {
  100% {
    transform: translate3d(34vw, 62vh, 50px);
  }
}
.particle-container .particle:nth-child(90) {
  animation: particle-animation-90 60s infinite;
  opacity: 0.16;
  height: 2px;
  width: 2px;
  animation-delay: -18s;
  transform: translate3d(74vw, 64vh, 71px);
  background: #fff;
}
@keyframes particle-animation-91 {
  100% {
    transform: translate3d(76vw, 8vh, 68px);
  }
}
.particle-container .particle:nth-child(91) {
  animation: particle-animation-91 60s infinite;
  opacity: 0.84;
  height: 5px;
  width: 5px;
  animation-delay: -18.2s;
  transform: translate3d(20vw, 35vh, 72px);
  background: #fff;
}
@keyframes particle-animation-92 {
  100% {
    transform: translate3d(68vw, 22vh, 34px);
  }
}
.particle-container .particle:nth-child(92) {
  animation: particle-animation-92 60s infinite;
  opacity: 0.11;
  height: 2px;
  width: 2px;
  animation-delay: -18.4s;
  transform: translate3d(51vw, 31vh, 11px);
  background: #fff;
}
@keyframes particle-animation-93 {
  100% {
    transform: translate3d(36vw, 74vh, 24px);
  }
}
.particle-container .particle:nth-child(93) {
  animation: particle-animation-93 60s infinite;
  opacity: 0.83;
  height: 2px;
  width: 2px;
  animation-delay: -18.6s;
  transform: translate3d(42vw, 35vh, 99px);
  background: #fff;
}
@keyframes particle-animation-94 {
  100% {
    transform: translate3d(44vw, 39vh, 36px);
  }
}
.particle-container .particle:nth-child(94) {
  animation: particle-animation-94 60s infinite;
  opacity: 0.19;
  height: 6px;
  width: 6px;
  animation-delay: -18.8s;
  transform: translate3d(31vw, 52vh, 97px);
  background: #fff;
}
@keyframes particle-animation-95 {
  100% {
    transform: translate3d(43vw, 56vh, 54px);
  }
}
.particle-container .particle:nth-child(95) {
  animation: particle-animation-95 60s infinite;
  opacity: 0.84;
  height: 3px;
  width: 3px;
  animation-delay: -19s;
  transform: translate3d(67vw, 5vh, 65px);
  background: #fff;
}
@keyframes particle-animation-96 {
  100% {
    transform: translate3d(59vw, 23vh, 51px);
  }
}
.particle-container .particle:nth-child(96) {
  animation: particle-animation-96 60s infinite;
  opacity: 0.5;
  height: 6px;
  width: 6px;
  animation-delay: -19.2s;
  transform: translate3d(55vw, 89vh, 21px);
  background: #fff;
}
@keyframes particle-animation-97 {
  100% {
    transform: translate3d(61vw, 31vh, 45px);
  }
}
.particle-container .particle:nth-child(97) {
  animation: particle-animation-97 60s infinite;
  opacity: 0.86;
  height: 3px;
  width: 3px;
  animation-delay: -19.4s;
  transform: translate3d(66vw, 76vh, 70px);
  background: #fff;
}
@keyframes particle-animation-98 {
  100% {
    transform: translate3d(14vw, 58vh, 2px);
  }
}
.particle-container .particle:nth-child(98) {
  animation: particle-animation-98 60s infinite;
  opacity: 0.08;
  height: 5px;
  width: 5px;
  animation-delay: -19.6s;
  transform: translate3d(18vw, 64vh, 26px);
  background: #fff;
}
@keyframes particle-animation-99 {
  100% {
    transform: translate3d(10vw, 17vh, 9px);
  }
}
.particle-container .particle:nth-child(99) {
  animation: particle-animation-99 60s infinite;
  opacity: 0.04;
  height: 6px;
  width: 6px;
  animation-delay: -19.8s;
  transform: translate3d(90vw, 83vh, 29px);
  background: #fff;
}
@keyframes particle-animation-100 {
  100% {
    transform: translate3d(67vw, 7vh, 61px);
  }
}
.particle-container .particle:nth-child(100) {
  animation: particle-animation-100 60s infinite;
  opacity: 0.54;
  height: 3px;
  width: 3px;
  animation-delay: -20s;
  transform: translate3d(33vw, 58vh, 34px);
  background: #fff;
}
